* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 35px;
}

header h1 {
    font-weight: bold;
    font-size: 1.55vw;
    margin: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    margin: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    font-weight: lighter;
    padding: 10px 15px;
    font-size: 1.45vw;
    text-decoration: none;
    /* transition: background 1s ease;
    transition: color 1s ease; */
}

header nav ul li a:hover {
    color: white;
    background: darkred;
}

section {
    padding: 30px;
    align-items: flex-start;
}

.hero {
    /* background-color: lightcoral; */
    background-image: url("../images/portfolioHero.JPG");
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    justify-content: flex-end;
}

.hero h2 {
    font-size: 45px;
    font-style: italic;
    color: white;
    background-color: black;
    padding: 5px;
    margin: 0;
    align-self: flex-end;

}

.who-i-am {
    margin: 50px auto;
    /* background-color: lightblue; */
    width: 80%;
    display: flex;
}

.who-i-am p {
    flex: 2 70%;
    font-size: 1.0vw;
}

.what-ive-done {
    /* background-color: lightcoral; */
    display: flex;
    width: 80%;
    margin: 50px auto;
}


.projects {
    display: flex;
    flex-wrap: wrap;
    flex: 2 70%;
    justify-content: space-around;
    /* margin: auto 15px */
}

.project {
    background-color: white;
    margin: 0px 10px 10px 10px;
    flex: 1;
    height: 200px;
    text-align: end;
    /* width: 50%; */
    transition: background-color 1s ease;
}


.project:hover h3 a {
    background-color: darkred;
    color: white;
}

.project:hover span {
    background-color: darkred;
    color: white;
}

.project-info {
    padding: 5px;
    line-height: 1.3;
    /* background-color: white; */
    margin: auto;
    color: darkred;
}

.project img {
    width: 100%;
    height: 70%;
    object-fit: fill;
}

.project h3 a {
    background-color: white;
    color: darkred;
    text-decoration: none;
}

.project span {
    background-color: white;

}

.reach-me {
    margin: 50px auto;
    display: flex;
    width: 80%;
}

.reach-me ul {
    /* Need to add weird flex rules */
    justify-content: space-around;
    flex: 2 70%;
}

.reach-me ul li {
    list-style: none;
}

.reach-me ul li a {
    font-size: 30px;
}



.section-title {
    flex: 1 20%;
    text-align: right;
    padding: 5px 25px 25px 10px;
    padding-right: 25px;
    text-decoration: underline;
    font-size: 40px;
    border-right: 3px solid black;
    margin-right: 10px;
}

/* Have a class for flex so that we don't have to keep writing it */
.flex-row {
    display: flex;
}