header {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
}

.hero {
    background-color: lightcoral;
}

.who-i-am {
    background-color: lightblue;
}

.what-ive-done {
    background-color: lightcoral;
}

.reach-me {
    background-color: lightblue;
}